@import "src/shared/theme/theme-variables";
@import "src/shared/theme/theme-mixins";

.wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 20px;

  header {
    display: flex;
    flex-direction: row;

    input {
      @include form-field-default;
      flex-grow: 1;
      height: 32px;
      border-radius: 10px;
      padding: 5px 24px;
      margin-right: 15px;
    }

    .button {
      @include form-field-default;
      width: 56px;
      height: 32px;
      border-radius: 10px;
      font-size: 26px;
      font-weight: 100;
      color: $color-light;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover{
        background-color: $form-input-background-light;
      }
    }
  }

  * {
    box-sizing: border-box;
  }
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-grow: 1;

  p {
    display: inline-block;
    text-align: center;
    font-size: 12px;
  }
}

.list {
  h2 {
    font-weight: normal;
  }
}

.card {
  position: relative;
  overflow: hidden;
  background-color: $card-background;
  border: 1px solid $card-background;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 14px 24px;
  margin-bottom: 16px;

  &:hover {
    border-color: #616161;
  }

  h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
  }

  p {
    margin: 5px 0 0 0;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    color: $color-light;
  }
}

.card:hover .actionLayer {
  opacity: 1; /* Show the layer on hover */
}

.actionLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  backdrop-filter: blur(1px);
}

.actionButton, a.actionButton {
  display: inline-block;
  margin: 0 10px;
  border-radius: 50%;
  border: none;
  padding: 16px;
  cursor: pointer;
  background-color: $background;
  color: #000;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}